@using JavierSanchezProyectoCore.ViewModels
@model DetailsDesarrolladoraViewModel

<div class="container row text-left">
    <h3 class="col-md-6">@Model.desarrolladora.Nombre</h3>

    <a class="col-md-6 text-right" asp-host="@Model.desarrolladora.Pagina" asp-action="" asp-controller=""><img src="~/images/@Model.desarrolladora.Logo" width="100" /></a>
</div>
<br />
@{

    <div class="container row text-left">
        <a class="btn btn-info text-left" asp-action="Create" asp-controller="Juego">Publicar Juego</a>
        <div class="text-right">
            <a class="btn btn-warning" asp-action="Edit" asp-route-id="@Model.desarrolladora.DesarrolladoraId">Actualizar Datos</a>
        </div>
    </div>
    if (Model.Juegos.Count() < 1)
    {
        <p>No hay Juegos </p>
    }
    else
    {
        <h4>Juegos publicados por @Model.desarrolladora.Nombre</h4>
        <table class="table table-striped table-dark">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Titulo</th>
                    <th>Fecha de salida</th>
                    <th>Precio</th>
                    <th>Caratula</th>
                    <th>Descuento</th>
                    <th>Trailer</th>
                    <th>Generos</th>
                    <th></th>

                </tr>
            </thead>
            <tbody>
                @foreach (Juego juego in Model.Juegos)
                {
                    <tr>
                        <td>@juego.JuegoId</td>
                        <td>@juego.Titulo</td>
                        <td>@juego.Salida.ToShortDateString()</td>
                        <td>@juego.Precio</td>
                        <td><img src="~/images/@juego.Caratula" width="100" /></td>
                        <td>@juego.Descuento</td>
                        <td>@juego.TrailerURL</td>
                        <td>
                            @foreach (GeneroJuego item in juego.GenerosJuego)
                            {
                                @if (item != juego.GenerosJuego.Last())
                                {
                                    @item.Genero.Nombre @:,
                                }
                                else
                                {
                                    @item.Genero.Nombre
                                }

                            }
                        </td>

                        <td>
                            <a class="btn btn-info btn-sm" asp-action="Details" asp-controller="Juego" asp-route-id="@juego.JuegoId" asp-route-disabled=true>Detalles</a>
                            <a class="btn btn-warning btn-sm" asp-action="Edit" asp-controller="Juego" asp-route-id="@juego.JuegoId">Actualizar</a>
                        </td>


                    </tr>
                }

            </tbody>
        </table>
    }

}
